body:after {
    content: url("Logos/Empresa/Logopdp.png");
    z-index: -9999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    transform: scale(.5);
    opacity: 0.25;
}

/*Ventana modal*/
#WindowModal {
    background: rgba(29, 78, 137,0.5);
}

.modal-title {
    padding-left: 10px;
}

.titleModalCreate {
    background: rgb(29, 78, 137) !important;
    color: #ffffff;
}

.titleModalEdit {
    background: #f3872f !important;
    color: #ffffff;
}

.titleModalDetail {
    background: rgba(2, 193, 245, 0.99) !important;
    color: #ffffff;
}

#ModalTitle .Closed {
    background-color: rgba(206, 34, 10, 0.91);
    padding: 5px;
}

.Closed {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=80);
    width: 30px;
    opacity: .6;
}

    .Closed:focus, .Closed:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .8
    }

button.Closed {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

/*TABLA*/
/*Formto de tabla*/

.tablethree tr th:last-child,
.tableFourBtn tr th:last-child,
.tableTwoBtn tr th:last-child {
    text-align: center;
}

.tablethree tr th:last-child {
    width: 150px;
}

.tableTwoBtn tr th:last-child {
    width: 120px;
}

.tableFourBtn tr th:last-child {
    width: 165px;
}

/*MENU DE Volver inicio y nuevo*/
.btn-volver:before,
.btn-inicio:before,
.btn-nuevo:before,
.btn-menu:before,
.btn-Usuario:before,
.btn-eliminar:before,
.btn-detalle:before,
.btn-editar:before,
.btn-Password:before,
.btn-Compania:before,
.btn-Salir:before,
.btn-Calendario:before,
.btn-Archivo:before {
    font-family: "FontAwesome";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    font-size: 18px;
}
.btn-volver:before {
    content: "\f100";
}
.btn-inicio:before {
    content: "\f015";
}
.btn-nuevo:before {
    content: "\f15c";
}
.btn-editar:before {
    content: "\f044";
}
.btn-detalle:before {
    content: "\f0cb";
}
.btn-eliminar:before {
    content: "\f12d";
}
.btn-menu:before {
    content: "\f1a5";
}
.btn-Usuario:before {
    content: "\f2bc";
}
.btn-Password:before {
    content: "\f13e";
}
.btn-Compania:before {
    content: "\f19c"
}
.btn-Salir:before {
    content: "\f011";
}
.btn-Calendario:before {
    content: "\f073";
}
.btn-Archivo:before {
    content: "\f15b";
}
.btn-group-line div {
    display: inline-block;
    vertical-align: middle;
}

/*TITULO Principal*/
.color-title-blue {
    color: #e4e4e4;
    background-color: #0377A5;
    border-radius: 25px 0px 0px 25px !important;
    margin-bottom: 5px;
}

/*Botones de formulario modales*/
.btn-rigth {
    display: block;
    text-align: right;
    padding: 15px 15px 0px 0px;
}

/*Margen de CARD*/
.card-margin {
    max-width: 18rem;
    margin-left: 20px;
}

/*Margen de separacion en la compañia*/
.top-3{
    margin-top:3px;
}
.left-3 {
    margin-left: 5px;
}

/*LOGIN*/
.Login {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control{
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    /*BOTON CERRAR SESION*/
.Closed-Session {
    background: #BA1E16;
}
.Closed-Session:hover {
    cursor:pointer;
}
.Closed-Session a i{
    background:red !important;
}
.btn-Salir-more:before, .btn-volver-more:before {
    font-size: 20px;
    text-align: center;
}

/*TITULOS DE COMMPAÑIA*/
.Ec-title-Company{
    background:rgb(29, 78, 137);
    color:#ffffff;
    padding:15px 20px;
}

/*COLORES*/

.f-background-orange {
    background: #f3872f !important;
}

.f-background-red {
    background: rgba(206, 34, 10, 0.91) !important;
}

.f-background-skyblue {
    background: rgba(3, 171, 217, 0.91) !important;
}

.f-background-blue {
    background: #045FB4 !important;
}

.f-background-orange-l {
    border: 1px solid rgba(243, 135, 47, 0.30);
    background: rgba(254, 172, 105, 0.36) !important;
}

.f-background-red-l {
    border: 1px solid rgba(206, 34, 10, 0.15);
    background: rgba(252, 79, 55, 0.20) !important;
}

.f-background-skyblue-l {
    border: 1px solid rgba(3, 171, 217, 0.50);
    background: rgba(15, 194, 243, 0.20) !important;
}

.f-background-blue-l {
    border: 1px solid rgba(29, 78, 137, 0.30);
    background: rgba(62, 126, 203, 0.30) !important;
}

.f-border-skyblue {
    border: 1px solid rgba(2, 193, 245, 0.99) !important;
    padding:2px;
    box-shadow: 0px 0px 3px 0px rgba(2, 193, 245, 0.99);
}